* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
}

.header {
    width: 100%;
    height: 56px;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-between
}

.left {
    width: 20%;
    height: 45px;

    display: flex;
    align-items: center;
}

.left img {
    width: 40%;
    height: 45px;
    object-fit: cover;
    position: relative;
    left: 2rem;

}

.left i {
    font-size: 1.6rem;
    position: relative;
    left: 1.2rem;
    font-weight: 900;
}



.center {
    width: 50%;
    height: 45px;

    display: flex;
    align-items: center;


}

.center input {
    width: 35rem;
    height: 45px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 16px;
    text-align: left;
    border: 1px solid #f0f0f0;

}

.search {
    width: 9%;
    height: 45px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -4.3rem;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top: 1px solid var(--ytd-searchbox-legacy-button-border-color);
    border-bottom: 1px solid var(--ytd-searchbox-legacy-button-border-color);
    border-right: 1px solid var(--ytd-searchbox-legacy-button-border-color);

}

.search i {

    font-size: 25px;

}

.micro {
    width: 6%;
    height: 40px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    position: relative;
    left: -3rem;

}

.micro i {
    font-size: 20px;

}




.right {
    width: 20%;
    height: 45px;

    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.right i {
    font-size: 25px;
}

.user {
    width: 53px;
    height: 50px;
    background-image: url("/Media files/youtube clone project/images/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    left: 3rem;
    border-radius: 50%;
}

/* block of box is a code */
.blockbox {
    width: 100%;

    display: flex;
}

/* header is a complied  */

.liftside {
    width: 15%;


}

/* the section of a element for left side  */
/* the frist element is a home */

.section1 {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

}

.section1 h3 {

    position: relative;
    left: 28px;
    font-size: 16px;
    font-family: "Roboto", "Arial", sans-serif;

}

.section1 i {
    font-size: 22px;

}

.section1 span {
    transition: border-radius, background-color, width, height, 1s;
}

.section1 span:hover {
    background-color: silver;
    width: 90%;
    height: 40px;
    border-radius: 12px;

}

.home {
    width: 80%;
    display: flex;
    position: relative;
    left: -5px;

}

.short {
    width: 80%;
    display: flex;
    position: relative;
    left: -5px;

}

.sub {
    width: 80%;
    display: flex;
    position: relative;
    left: -5px;

}

/* section 1 scomplied work */
/* section 2 working */

.section2 {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 1rem;
    gap: 14px;
}

.section2 span {
    width: 80%;
    height: 30px;
    display: flex;
    gap: 10px;
    position: relative;
    left: 6px;
    align-items: center;
    transition: border-radius, background-color, width, height, 0.5s;
}

.section2 span:hover {
    background-color: silver;
    width: 90%;
    height: 40px;
    border-radius: 12px;
    transform: translateX(15px);
}

.section2 i {
    position: relative;
    left: 15px;
    font-size: 22px;

}

.section2 h3 {
    position: relative;
    left: 1.4rem;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;


}

/* section 2 is a complied work */
/* section 3 working */

.section3 {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -1rem;
    gap: 14px;

}

.section3 span {
    width: 80%;
    height: 30px;
    display: flex;
    gap: 10px;
    position: relative;
    left: 6px;
    align-items: center;
    transition: border-radius, background-color, width, height, 0.5s;
}

.section3 span:hover {
    background-color: silver;
    width: 90%;
    height: 40px;
    border-radius: 12px;
    transform: translateX(15px);
}

.section3 i {
    position: relative;
    left: 15px;
    font-size: 22px;

}

.section3 h3 {
    position: relative;
    left: 1.4rem;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 13px;


}

/* section 3 scomplied work */
/* section 4 working */



.section4 {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -1rem;
    gap: 14px;



}

.section4 span {
    width: 80%;
    height: 30px;
    display: flex;
    gap: 10px;
    position: relative;
    left: 6px;
    align-items: center;
    transition: border-radius, background-color, width, height, 0.5s;
}

.section4 span:hover {
    background-color: silver;
    width: 90%;
    height: 40px;
    border-radius: 12px;
    transform: translateX(15px);
}

.section4 i {
    position: relative;
    left: 15px;
    font-size: 22px;

}

.section4 h3 {
    position: relative;
    left: 1.4rem;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;


}

/* section 4 scomplied work */
/* section 5 working */



.section5 {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 14px;


}

.section5 span {
    width: 80%;
    height: 30px;
    display: flex;
    gap: 10px;
    position: relative;
    left: 6px;
    align-items: center;
    transition: border-radius, background-color, width, height, 0.5s;
}

.section5 span:hover {
    background-color: silver;
    width: 90%;
    height: 40px;
    border-radius: 12px;
    transform: translateX(15px);
}

.section5 i {
    position: relative;
    left: 15px;
    font-size: 22px;
    color: red;

}

.section5 h3 {
    position: relative;
    left: 1.4rem;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;


}

/* section 5 scomplied work */
/* section 6 working */



.section6 {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 14px;



}

.section6 span {
    width: 80%;
    height: 30px;
    display: flex;
    gap: 10px;
    position: relative;
    left: 6px;
    align-items: center;
    transition: border-radius, background-color, width, height, 0.5s;
}

.section6 span:hover {
    background-color: silver;
    width: 90%;
    height: 40px;
    border-radius: 12px;
    transform: translateX(15px);
}

.section6 i {
    position: relative;
    left: 15px;
    font-size: 22px;


}

.section6 h3 {
    position: relative;
    left: 1.4rem;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;


}

/* section 6scomplied work */
/* section 7 working */

.section7 {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 14px;

    top: -1rem;
    align-items: center;
    justify-content: center;


}

.section7 h3 {
    position: relative;
    left: 2px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 13px;
    color: rgb(27, 27, 27);

}

/* the right side work */
.rightside {
    width: 85%;
    height: 100vh;
    box-sizing: border-box;



}

/* the right side is a coding work  */
/* section is a side navbar work */

.navbar {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 12px;
    top: 15px;
}

.navbar button {
    font-size: 20px;
    border-radius: 4px;
    font-family: Georgia, serif;
    text-align: center;
    border: 1px solid black;
    transition: cursor, background-color, border-radius, 0.5s;

}

.navbar button:hover {
    cursor: pointer;
    background-color: silver;
    border-radius: 0px;
    transform: translateY(-15px);

}

/* all box part working */
.boxworld {

    width: 100%;
    display: flex;
    box-sizing: border-box;
    position: relative;
    flex-wrap: wrap;
    top: 4rem;
    gap: 10px;




}

.box1 {
    width: 31%;
    height: 300px;
    margin-left: 15px;

}

.box1 h3 {
    text-align: center;
}

.box1 p {
    text-align: center;
}

.box1 span {
    display: flex;
    align-items: center;
    gap: 12px;
}

.box1 span i {
    font-size: 30px;
}

.part1 {
    width: 100%;
    height: 200px;
    border-radius: 8px;

}

.part1 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    transition: box-shadow, linear 0.5s;
}

.part1 img:hover {

    box-shadow: 10px 5px 5px black;

}